
.about{
  padding: 26px 0;

  background-image: url(../img/bg_about-sm.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $viewport-xs) {

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg_about-sm@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg_about-sm@3x.jpg);
    }
  }

  @media (min-width: $viewport-sm) {
    padding: 35px 0 45px 0;

    background-image: url(../img/bg_about-md.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(../img/bg_about-md@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../img/bg_about-md@3x.jpg);
    }
  }
}

.about__description{
  margin: 0 0 30px 0;
}

.about__inner{

}

.about__figure{
  display: none;
}

.about__img{

}

.about__box-text{
  font-size: 14px;
  font-variant: small-caps;
  line-height: 21px;

  color: $white;

  @media (min-width: $viewport-sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.about__text{
  margin: 0 0 15px 0;

  @media (min-width: $viewport-sm) {
    margin-bottom: 20px;
  }

  small{
    font-size: 12px;

    @media (min-width: $viewport-sm) {
      font-size: 14px;
    }
  }

  mark{
    background-color: transparent;
    color: $first-primary;
  }
}

.about__list{
  @include list;
}

.about__item{
  position: relative;

  margin: 0 0 4px 0;
  padding: 0 0 0 18px;

  &::before{
    content: "";

    width: 9px;
    height: 10px;

    position: absolute;
    top: 5px;
    left: 0;

    background-image: url(../img/arrow_right.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
