
.advantages{
  display: none;

  @media (min-width: $viewport-sm) {
    display: block;

    padding: 35px 0;

    background-image: linear-gradient(180deg,rgba(48, 47, 45, 0.4) 7%, rgba(255, 255, 255, 0.12) 50%, rgba(48, 47, 45, 0.4) 93%);
    background-color: $first-basic;

    user-select: none;
  }

  @media (min-width: $viewport-md) {
    padding: 55px 0;
  }

  @media (min-width: $viewport-lg) {
    padding: 46px 0;
  }
}

.advantages__list{

  @media (min-width: $viewport-sm) {
    @include list;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $viewport-md) {
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
}

.advantages__item{

  @media (min-width: $viewport-sm) {
    margin-bottom: 40px;

    text-transform: uppercase;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 0;
  }
}

.advantages__img{

  @media (min-width: $viewport-sm) {
    width: 60px;
    height: 60px;

    margin: 0 auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px auto;

    &--experience{
      background-image: url(../img/trophy.svg);
    }

    &--quality{
      background-image: url(../img/guarantee.svg);

    }

    &--assortment{
      background-image: url(../img/product.svg);
    }

    &--delivery{
      background-image: url(../img/truck.svg);
    }
  }

  @media (min-width: $viewport-md) {
    width: 75px;
    height: 75px;

    background-size: 75px auto;
  }

  @media (min-width: $viewport-lg) {
    width: 80px;
    height: 80px;

    background-size: 80px auto;
  }
}

.advantages__title{

  @media (min-width: $viewport-sm) {
    margin: 23px 0 0 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing:0.3px;

    text-align: center;
  }

  @media (min-width: $viewport-md) {
    margin-top: 15px;

    line-height: 22px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 18px;
    line-height: 24px;
  }
}
