
.contact{
  padding: 26px 0;

  overflow-x: hidden;

  background-image: linear-gradient(180deg, rgba(48, 47, 45, 0.4) 0%, rgba(77, 61, 37, 0) 100%);
  background-color: #4D3D25;

  @media (min-width: $viewport-sm) {
    padding: 35px 0 45px 0;
  }

  @media (min-width: $viewport-md) {
    padding: 45px 0 50px 0;
  }

  @media (min-width: $viewport-lg) {
    padding: 50px 0 50px 0;
  }

  @media (min-width: $viewport-xl) {
    padding: 55px 0 55px 0;
  }
}

.contact__description{
  margin: 0 0 26px 0;

  @media (min-width: $viewport-sm) {
    margin-bottom: 30px;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 40px;
  }

  @media (min-width: $viewport-lg) {
    margin-bottom: 45px;
  }

  @media (min-width: $viewport-xl) {
    margin-bottom: 50px;
  }
}

.contact__map-box{
  width: 100%;

  position: relative;

  border-top: 2px solid $first-primary;
  border-bottom: 2px solid $first-primary;

  cursor: help;

  &::before{
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    box-shadow: inset 0 0 15px rgba(77, 61, 37, 0.5);

    pointer-events: none;
  }

  @media (max-width: $viewport-xs) {
    height: 384px;
  }

  @media (min-width: $viewport-sm) {
    height: 384px;
  }

  @media (min-width: $viewport-lg) {
    height: 404px;
  }

  @media (min-width: $viewport-xl) {
    height: 454px;
  }

  .mapTitle {
    display: none;

    position: absolute;
    z-index: 20;

    padding: 5px 20px;

    background: rgb(255, 255, 255);

    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    font-size: 14px;

    color: $black;

    user-select: none;
  }
}

.contact__map{
  display: block;

  width: inherit;
  height: 380px;

  border: none;

  @media (min-width: $viewport-lg) {
    height: 400px;
  }

  @media (min-width: $viewport-xl) {
    height: 450px;
  }

  &--pointer-events{
    pointer-events: none;
  }
}

.contact__info{
  padding: 17px 0 0 0;

  @media (min-width: $viewport-sm) {
    padding-top: 20px;
  }

  @media (min-width: $viewport-md) {
    padding-top: 30px;
  }

  @media (min-width: $viewport-lg) {
    padding-top: 40px;
  }

  @media (min-width: $viewport-xl) {
    padding-top: 45px;
  }
}

.contact__list{
  @include list;

  font-style: normal;

  @media (min-width: $viewport-md) {
    display: grid;

    grid-template-columns: repeat(2,1fr);
  }

  @media (min-width: $viewport-lg) {
    grid-template-columns: auto 514px;
  }
}

.contact__item{
  padding: 0 0 15px 0;

  font-size: 17px;
  line-height: 20px;

  &::selection{
    color: $first-primary;
    background-color: #5A5A5A;
  }

  &:nth-child(2){
    padding-bottom: 20px;

    border-bottom: 1px solid $black;
  }

  &:nth-child(3){
    padding-top: 20px;
  }

  &:nth-child(4){
    padding-bottom: 0;
  }

  @media (min-width: $viewport-sm) {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.3px;

    &:nth-child(2){
      padding-bottom: 25px;
    }

    &:nth-child(3){
      padding-top: 25px;
    }
  }

  @media (min-width: $viewport-md) {
    font-size: 19px;
    line-height: 22px;

    &:nth-child(1){
      padding-bottom: 30px;

      border-bottom: 1px solid $black;
    }

    &:nth-child(2){
      padding-bottom: 30px;

      br{
        display: none;
      }
    }

    &:nth-child(3){
      padding-top: 30px;
      padding-bottom: 0;
    }

    &:nth-child(4){
      padding-top: 30px;
    }
  }

  @media (min-width: $viewport-lg) {

    &:nth-child(1){
      padding-bottom: 40px;
    }

    &:nth-child(2){
      padding-bottom: 40px;
    }

    &:nth-child(3){
      padding-top: 40px;
    }

    &:nth-child(4){
      padding-top: 40px;
    }
  }

  @media (min-width: $viewport-xl) {
    &:nth-child(1){
      padding-bottom: 45px;
    }

    &:nth-child(2){
      padding-bottom: 45px;
    }

    &:nth-child(3){
      padding-top: 45px;
    }

    &:nth-child(4){
      padding-top: 45px;
    }
  }
}

.contact__title{
  display: block;

  margin: 0 0 10px 0;

  background-color: transparent;

  font-size: 14px;
  line-height: 16px;

  color: $first-primary;

  user-select: none;

  @media (min-width: $viewport-sm) {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $viewport-md) {
    margin-bottom: 18px;

    font-size: 18px;
    line-height: 21px;
  }

  @media (min-width: $viewport-lg) {
    display: inline-block;

    margin-bottom: 0;

    font-size: 19px;
    line-height: 22px;
  }
}

.contact__link{
  text-decoration: none;

  color: $white;

  &::selection{
    color: $first-primary;
    background-color: #5A5A5A;
  }

  &:hover{
    text-decoration: underline;
  }
}
