
.description{

}

.description__title{
  margin: 0;

  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.5px;

  text-align: center;
  text-transform: uppercase;

  color: $first-primary;

  @media (min-width: $viewport-sm) {
    font-size: 27px;
    line-height: 37px;
  }
}

.description__subtitle{
  margin: 10px 0 0 0;

  line-height: 18px;

  text-align: center;

  &::after{
    content: "";

    display: block;
    height: 2px;

    margin: 30px 0 0 0;

    background-color: $first-primary;
  }

  @media (min-width: $viewport-sm) {
    font-size: 18px;
    line-height: 21px;

    &::after{
      width: 100px;
      height: 4px;

      margin: 30px auto 0 auto;
    }

  }
}
