
.description{
  user-select: none;

  @media (min-width: $viewport-lg) {

    &--small{

      .description__title{
        font-size: 27px;
        line-height: 37px;
      }

      .description__subtitle{
        margin-top: 10px;

        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0;

        &::after{
          width: 100%;
          height: 2px;

          margin-top: 25px;

        }
      }
    }
  }
}

.description__title{
  margin: 0;

  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.5px;

  text-align: center;
  text-transform: uppercase;

  color: $first-primary;

  @media (min-width: $viewport-sm) {
    font-size: 27px;
    line-height: 37px;
  }

  @media (min-width: $viewport-md) {
    font-size: 32px;
    line-height: 44px;
  }

  @media (min-width: $viewport-lg) {
    font-size: 34px;
    line-height: 46px;

    strong{
      font-weight: 400;
    }
  }

  @media (min-width: $viewport-xl) {
    font-size: 36px;
    line-height: 49px;
  }
}

.description__subtitle{
  margin: 10px 0 0 0;

  line-height: 18px;

  text-align: center;

  &::after{
    content: "";

    display: block;
    height: 2px;

    margin: 30px 0 0 0;

    background-color: $first-primary;
  }

  @media (min-width: $viewport-sm) {
    font-size: 18px;
    line-height: 21px;

    &::after{
      width: 100px;
      height: 4px;

      margin: 30px auto 0 auto;
    }

  }

  @media (min-width: $viewport-md) {
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $viewport-lg) {
    margin-top: 15px;

    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.5px;

    &::after{
      width: 160px;

      margin-top: 35px;
    }

    strong{
      font-weight: 400;
    }
  }

  @media (min-width: $viewport-xl) {
    margin-top: 20px;

    font-size: 24px;
    line-height: 28px;
  }
}
