
.footer-admin{
  min-height: 70px;

  position: relative;
  z-index: 1;

  background-color: $first-basic;
  background-image: linear-gradient(180deg,rgba(48, 47, 45, 0.4) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(48, 47, 45, 0.4) 100%);

  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.4);
}
