$bgc-instruction: #2B2B2B;

.instruction{
  padding: 26px 0;

  background-color: $bgc-instruction;

  user-select: none;

  @media (min-width: $viewport-sm) {
    padding: 35px 0 25px 0;
  }

  @media (min-width: $viewport-md) {
    padding: 50px 0 30px 0;
  }

  @media (min-width: $viewport-lg) {
    padding: 55px 0 35px 0;
  }

  @media (min-width: $viewport-xl) {
    padding: 65px 0 40px 0;
  }
}

.instruction__description{
  margin-bottom: 10px;
}

.instruction__list{
  @include list;

  font-variant: small-caps;
  font-size: 15px;
  line-height: 17px;

  @media (min-width: $viewport-sm) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $viewport-md) {
    font-size: 18px;
    line-height: 21px;
  }

  @media (min-width: $viewport-lg) {
    line-height: 22px;
    letter-spacing: 0.3px;
  }

  @media (min-width: $viewport-xl) {
    font-size: 20px;
    line-height: 24px;
  }
}

.instruction__item{
  padding: 15px 0;
  border-bottom: 1px solid $black;

  @media (min-width: $viewport-sm) {
    padding: 20px 0;
  }

  @media (min-width: $viewport-md) {
    padding: 25px 0;
  }

  @media (min-width: $viewport-lg) {
    padding: 30px 0;
  }

  @media (min-width: $viewport-xl) {
    padding: 35px 0;
  }

  &:last-child{
    border: none;
  }

  mark{
    background-color: transparent;
    color: $first-primary;
  }

  strong{
    font-weight: 400;
  }

  a{
    color: white;

    &:hover{
      text-decoration: none;
    }
  }
}
