<section class="about">
  <div class="container">

    <div class="about__description description">
      <h2 class="description__title">О нас</h2>
      <p class="description__subtitle">Почему стоит выбрать нас?</p>
    </div><!--/.description-->

    <div class="about__inner">
      <figure class="about__figure">
        <picture>
          <source media="(min-width: 1200px)"
                  srcset="assets/img/store_avtolider-large.webp,
                          assets/img/store_avtolider-large@2x.webp 2x,
                          assets/img/store_avtolider-large@3x.webp 3x"
                  type="image/webp">
          <source media="(min-width: 1200px)"
                  srcset="assets/img/store_avtolider-large.jpg,
                          assets/img/store_avtolider-large@2x.jpg 2x,
                          assets/img/store_avtolider-large@3x.jpg 3x"
                  type="image/jpeg">
          <source media="(min-width: 992px)"
                  srcset="assets/img/store_avtolider.webp,
                          assets/img/store_avtolider@2x.webp 2x,
                          assets/img/store_avtolider@3x.webp 3x"
                  type="image/webp">

          <img class="about__img" src="assets/img/store_avtolider.jpg" srcset="assets/img/store_avtolider@2x.jpg 2x, assets/img/store_avtolider@3x.jpg 3x" alt="Приятно оформленный магазин с желта зеленым дизайном и красивой вывеской на которой написано Автолидер.">
        </picture>
      </figure>
      <div class="about__box-text">
        <p class="about__text">Мы работаем в городе <strong>Ишимбай ул.Советская 75</strong> <small>(на против Башкирской Гимназии №2)</small> уже более <mark>10 лет</mark> и являемся одними из первых поставщиков запчастей на иномарки. Годы работы мы совершенствовали <mark>профессиональные навыки</mark> подбора запчастей на любые машины.  За <mark>10 лет</mark> работы нам удалось выполнить более <mark>1000 заказов</mark>, заручится доверием более <mark>1000 клиентов</mark>, многие из которых стали постоянными клиентами и нашими настоящими друзьями. Наш магазин - гарант качества и вашего благополучия!</p>
        <ul class="about__list">
          <li class="about__item">Низкие цены на все товары</li>
          <li class="about__item">Доставка на следующий день после заказы</li>
          <li class="about__item">Отзывчивые, высококласные специалисты</li>
        </ul>
      </div>
    </div>

  </div><!--/.container-->
</section><!--/.about-->
