<section class="about" id="about">
  <div class="container">

    <div class="about__description description">
      <h2 class="description__title">О нас</h2>
      <p class="description__subtitle">Почему стоит выбрать нас?</p>
    </div><!--/.description-->

    <div class="about__inner">
      <figure class="about__figure">
        <picture>
          <source media="(min-width: 1200px)"
                  srcset="assets/img/store_avtolider-large.webp,
                          assets/img/store_avtolider-large@2x.webp 2x,
                          assets/img/store_avtolider-large@3x.webp 3x"
                  type="image/webp">
          <source media="(min-width: 1200px)"
                  srcset="assets/img/store_avtolider-large.jpg,
                          assets/img/store_avtolider-large@2x.jpg 2x,
                          assets/img/store_avtolider-large@3x.jpg 3x"
                  type="image/jpeg">
          <source media="(min-width: 992px)"
                  srcset="assets/img/store_avtolider.webp,
                          assets/img/store_avtolider@2x.webp 2x,
                          assets/img/store_avtolider@3x.webp 3x"
                  type="image/webp">

          <img itemprop="image" class="about__img" src="assets/img/store_avtolider.jpg" srcset="assets/img/store_avtolider@2x.jpg 2x, assets/img/store_avtolider@3x.jpg 3x" loading="lazy" alt="Приятно оформленный магазин с желто-зеленым дизайном и красивой вывеской на которой написано Автолидер автозапчасти на иномарки Ишимбай.">
        </picture>
      </figure>
      <div class="about__box-text">
        <p class="about__text">Мы&nbsp;работаем в&nbsp;городе <strong>Ишимбай ул.Советская 75&nbsp;</strong><small>(напротив Башкирской Гимназии &#8470;&nbsp;2)</small> уже более <mark>10&nbsp;лет</mark> и&nbsp;являемся одними из&nbsp;первых поставщиков <strong>запчастей на&nbsp;иномарки</strong>. Годы работы мы&nbsp;совершенствовали <mark>профессиональные навыки</mark> подбора <strong>автозапчастей на иномарки</strong>. За&nbsp;<mark>10&nbsp;лет</mark> работы нам удалось выполнить более <mark>1000&nbsp;заказов</mark>, заручиться доверием более <mark>1000&nbsp;клиентов</mark>, многие из&nbsp;которых стали постоянными клиентами и&nbsp;нашими настоящими друзьями. Магазин <strong>"<span itemprop="name">АвтоЛидер</span>"</strong>&nbsp;&mdash; гарант качества и&nbsp;вашего благополучия!</p>
        <ul class="about__list">
          <li class="about__item">Низкие цены на&nbsp;все <strong>автозапчасти</strong></li>
          <li class="about__item">Доставка на&nbsp;следующий день после заказа</li>
          <li class="about__item">Отзывчивые, высококлассные специалисты</li>
        </ul>
      </div>
    </div>

  </div><!--/.container-->
</section><!--/.about-->
