<section class="consultation">
  <div class="container">

    <h2 class="visually-hidden">Получить консультацию</h2>

    <div class="consultation__description description">
      <p class="description__title">Заполните форму</p>
      <p class="description__subtitle">и наш менеджер вас проконсультирует</p>
    </div><!--/.description-->

    <form class="consultation__form form" action="index.html" method="post" name="consultation">
      <label for="phone" class="visually-hidden">Телефон</label>
      <input class="form__input" id="phone" type="text" name="phone" placeholder="Телефон">
      <label for="vin" class="visually-hidden">Vin номер или frame код</label>
      <input class="form__input" id="vin" type="text" name="vin" placeholder="Vin номер или frame код">
      <label for="spares" class="visually-hidden">Список нужных запчастей</label>
      <textarea class="form__textarea" id="spares" name="spares" placeholder="Список нужных запчастей"></textarea>
      <button class="form__button button" type="submit" name="form-btn">Получить консультацию</button>
      <p class="form__consent">Согласен на обработку персональных данных</p>
    </form><!--/.form-->

  </div><!--/.container-->
</section><!--/.consultation-->
