<section class="contact" id="contact">

  <h2 class="visually-hidden">Как нас найти</h2>

  <div class="contact__description description">
    <p class="description__title">Карта</p>
  </div><!--/.description-->

  <div class="contact__map-box">
    <iframe class="contact__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A226fc664d55aa654226e730c00cb1f2a8c4ddec5fca94c87caad46d389e6dd57&amp;source=constructor" width="320" height="380"></iframe>
  </div><!--/.contact__map-->

  <div class="container">

    <address class="contact__info">
      <ul class="contact__list">
        <li class="contact__item">
          <mark class="contact__title">Адрес:&nbsp;&nbsp;</mark>
          РБ, г.Ишимбай ул.Советская 75
        </li>
        <li class="contact__item">
          <mark class="contact__title">График работы:&nbsp;&nbsp;</mark>
          Пн-Пт: 10:00 - 19:00&nbsp;&nbsp;<br>
          Сб: 10:00 - 16:00
        </li>
        <li class="contact__item">
          <mark class="contact__title">Телефон:&nbsp;&nbsp;</mark>
          <a class="contact__link" href="tel:+79173718952">+7 (917) 371-89-52</a>
        </li>
        <li class="contact__item">
          <mark class="contact__title">Почта:&nbsp;&nbsp;</mark>
          <a class="contact__link" href="mailto:avto_lider@inbox.ru">avto_lider@inbox.ru</a>
        </li>
      </ul>
    </address><!--/.contact__info-->

  </div><!--/.container-->
</section><!--/.contact-->
