<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{ title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Abraklion">
<meta name="description" content='У нас вы можете купить или заказать автозапчасти на иномарки быстро и недорого. Наш адрес: г.Ишимбай, ул.Советская 75, магазин "АвтоЛидер". Тел: +7 (917) 371-89-52.'>
<meta name="keywords" content="не более 20 слов">

<link rel="stylesheet" href="assets/css/style.min.css">

<!-- favIcon -->
<link rel="icon" href="assets/img/favicon.svg">
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
<link rel="manifest" href="site.webmanifest">
<meta name="theme-color" content="#ffffff">
<!-- favIcon -->
