<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{ title }}</title>

<meta name="viewport" content="width=1200">
<meta name="robots" content="noindex, nofollow">

<meta name="author" content="Abraklion">

<link rel="stylesheet" href="assets/css/style-admin.min.css">

<!-- favIcon -->
<link rel="icon" href="assets/img/favicon.svg">
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
<link rel="manifest" href="site.webmanifest">
<meta name="theme-color" content="#ffffff">
<!-- favIcon -->
