<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{ title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Abraklion">
<meta name="description" content='{{ description }}'>

<link rel="stylesheet" href="assets/css/style.min.css">

<!-- favIcon -->
<link rel="icon" href="assets/img/favicon.svg">
<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
<link rel="manifest" href="site.webmanifest">
<meta name="theme-color" content="#ffffff">
<!-- favIcon -->

<!-- microdata -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "AutoPartsStore",
    "name": "Автолидер",
    "image": "https://avtolider.bashkiria.ru/static/img/store_avtolider.jpg",
    "priceRange": "₽₽₽₽₽",
    "telephone": "+79173718952",
    "url": "https://avtolider.bashkiria.ru",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Советская 75",
      "addressLocality": "Ишимбай",
      "addressRegion": "Республика Башкортостан",
      "postalCode": "453200",
      "addressCountry": "Russia"
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница"],
        "opens": "10:00",
        "closes": "19:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Суббота"],
        "opens": "10:00",
        "closes": "16:00"
      }
    ]
  }
</script>
<!-- microdata -->