<header class="header">
  <div class="container">

    <div class="header__inner">

      <div class="header__top-panel">

        <button class="header__panel-burger js-burger" type="button">
          <span class="visually-hidden">Показать меню</span>
        </button>

        <nav class="header__navigation navigation">
          <div class="navigation__inner">

            <ul class="navigation__menu">
              <li class="navigation__menu-item">
                <a href="#" class="navigation__menu-link">Получить консультацию</a>
              </li>
              <li class="navigation__menu-item">
                <a href="#" class="navigation__menu-link">Как нас найти</a>
              </li>
              <li class="navigation__menu-item">
                <a href="" class="navigation__menu-link">Как купить</a>
              </li>
              <li class="navigation__menu-item">
                <a href="" class="navigation__menu-link">О нас</a>
              </li>
            </ul>

            <button class="navigation__close js-close" type="button" aria-label="Закрыть меню">
              <svg class="navigation__close-svg" width="15" height="15" aria-hidden="true">
                <use xlink:href="assets/img/sprite.svg#cancel_menu"/>
              </svg>
              Меню
            </button>

          </div>
        </nav><!--/.navigation-->

        <ul class="header__panel-list">
          <li class="header__panel-item">
            <span class="visually-hidden">Адрес:</span>
            РБ, г.Ишимбай <br> ул.Советская 75
          </li>
          <li class="header__panel-item">
            <span class="visually-hidden">График работы:</span>
            Пн-Пт: 10:00-19:00 <br> Сб: 10:00-16:00
          </li>
          <li class="header__panel-item">
            <a href="tel:+79173718952" class="header__panel-link">
              <span class="visually-hidden">Телефон:</span>
              +7 (917) 371-89-52
            </a>
          </li>
        </ul>

      </div><!--/.header__top-panel-->

      <div class="header__info">

        <a class="header__logo logo" href="index.html">
          <img class="logo_img" src="assets/img/logo_header.svg" width="180" height="112" alt="Логотип Автолидер">
        </a><!--/.logo-->

        <div class="header__info-inner">
          <a class="header__info-whatsapp" href="https://wa.me/+79173718952" target="_blank">Whatsapp</a>
          <a class="header__info-phone" href="tel:+79173718952">+7 (917) 371-89-52</a>
          <button class="header__button button" type="button">Получить консультацию</button>
        </div>

      </div><!--/.header__info-->

      <div class="header__heading">
        <h1 class="header__title">Автозапчасти на иномарки <span class="visually-hidden">в городе Ишимбай</span></h1>
        <p class="header__subtitle">в наличии и на заказ <span class="header__subtitle-address">г.Ишимбай, ул.Советская 75</span></p>
      </div><!--/.header__heading-->

    </div><!--/.header__inner-->

  </div><!--/.container-->
</header><!--/.header-->
