<section class="instruction" id="instruction">
  <div class="container">

    <div class="instruction__description description">
      <h2 class="description__title">Как купить?</h2>
      <p class="description__subtitle">Все просто!</p>
    </div><!--/.description-->

    <ul class="instruction__list">
      <li class="instruction__item">
        <mark>Отправляете</mark> запрос в&nbsp;<a href="#consultation">форме</a>, либо звоните по&nbsp;<a href="tel:+79173718952">телефону</a>, либо <a href="https://wa.me/+79173718952" rel="noopener" target="_blank">WhatsApp</a>.
      </li>
      <li class="instruction__item">
        <mark>Обработка</mark> вашего запроса в&nbsp;течение нескольких минут.
      </li>
      <li class="instruction__item">
        <mark>Получаете</mark> цену, наличие, а&nbsp;если нет в&nbsp;магазине, то&nbsp;срок доставки запчастей.
      </li>
      <li class="instruction__item">
        <mark>Если</mark> <strong>автозапчасти в&nbsp;<mark>наличии</mark></strong>, то&nbsp;приезжаете в&nbsp;<strong>магазин "АвтоЛидер" г.Ишимбай ул.Советская 75</strong>&nbsp;и&nbsp;покупаете.
      </li>
      <li class="instruction__item">
        <mark>Если</mark> <strong>автозапчасти на&nbsp;<mark>заказ</mark></strong>, то&nbsp;вносите предоплату удобным для Вас способом, остаток после получения.
      </li>
      <li class="instruction__item">
        <mark>Гарантированный возврат</mark>, если <strong>автозапчасти</strong> не&nbsp;подошли при сохранении упаковки, <strong>запчасть</strong> без следов установки, возврат не&nbsp;распространяется на&nbsp;электротовары.
      </li>
    </ul>

  </div><!--/.container-->
</section><!--/.instruction-->
