<section class="instruction">
  <div class="container">

    <div class="instruction__description description">
      <h2 class="description__title">Как купить?</h2>
      <p class="description__subtitle">все просто!</p>
    </div><!--/.description-->

    <ul class="instruction__list">
      <li class="instruction__item">
        <mark>Отправляете</mark> запрос в <a href="">форме</a>, либо звоните по <a href="tel:+79173718952">телефону</a>, либо <a href="https://wa.me/+79173718952" target="_blank">WhatsApp</a>.
      </li>
      <li class="instruction__item">
        <mark>Обработка</mark> вашего запроса в течении нескольких минут.
      </li>
      <li class="instruction__item">
        <mark>Получаете</mark> цену, наличие а если нет в магазине, то срок доставки.
      </li>
      <li class="instruction__item">
        <mark>Если</mark> товар в <mark>наличие</mark>, то приезжаете в <strong>магазин “АвтоЛидер” по адресу ул.Советская 75</strong> и покупаете.
      </li>
      <li class="instruction__item">
        <mark>Если</mark> товар на <mark>заказ</mark>, то вносите предоплату удобным для Вас способом, остаток после получения.
      </li>
      <li class="instruction__item">
        <mark>Гарантия возврата</mark> 90%, гарантия не распространяется на электротовары, установленные на автомобиль, порча упаковки и этикеток.
      </li>
    </ul>

  </div><!--/.container-->
</section><!--/.instruction-->
