<section class="instruction" id="instruction">
  <div class="container">

    <div class="instruction__description description">
      <h2 class="description__title">Как купить?</h2>
      <p class="description__subtitle">Все просто!</p>
    </div><!--/.description-->

    <ul class="instruction__list">
      <li class="instruction__item">
        <mark>Отправляете</mark> запрос в&nbsp;<a href="#consultation">форме</a>, либо звоните по&nbsp;<a href="tel:+79173718952">телефону</a>, либо <a href="https://wa.me/+79173718952" target="_blank">WhatsApp</a>.
      </li>
      <li class="instruction__item">
        <mark>Обработка</mark> вашего запроса в&nbsp;течении нескольких минут.
      </li>
      <li class="instruction__item">
        <mark>Получаете</mark> цену, наличие а&nbsp;если нет в&nbsp;магазине, то&nbsp;срок доставки.
      </li>
      <li class="instruction__item">
        <mark>Если</mark> товар в&nbsp;<mark>наличие</mark>, то&nbsp;приезжаете в&nbsp;<strong>магазин &laquo;АвтоЛидер&raquo; по&nbsp;адресу ул.Советская 75</strong>&nbsp;и&nbsp;покупаете.
      </li>
      <li class="instruction__item">
        <mark>Если</mark> товар на&nbsp;<mark>заказ</mark>, то&nbsp;вносите предоплату удобным для Вас способом, остаток после получения.
      </li>
      <li class="instruction__item">
        <mark>Гарантия возврата</mark>&nbsp;90%, гарантия не распространяется на&nbsp;электротовары, установленные на&nbsp;автомобиль, порча упаковки и&nbsp;этикеток.
      </li>
    </ul>

  </div><!--/.container-->
</section><!--/.instruction-->
