<section class="reason">
  <div class="container">

    <div class="reason__description description">
      <h2 class="description__title">6 причин, чтобы обратиться к нам</h2>
      <p class="description__subtitle">Почему стоит пользоваться услугами нашего магазина?</p>
    </div><!--/.description-->

    <div class="reason__inner">

      <ul class="reason__list">
        <li class="reason__item"><mark>Низкие цены.</mark> Благодаря  большой базе поставщиков с которыми мы работаем.</li>
        <li class="reason__item"><mark>Быстрая доставка.</mark> Возможность поставить нужный для вас товар за несколько часов.</li>
        <li class="reason__item"><mark>Квалифицированные Менеджеры.</mark> У нас работают опытные сотрудники.</li>
        <li class="reason__item"><mark>Запчастей в наличии.</mark> За долгие годы работы мы собрали базу самых популярных запчастей.</li>
        <li class="reason__item"><mark>Запчасти на заказ.</mark> Оригинальные, аналоги, б/у запчастей (с авторазборок). </li>
        <li class="reason__item"><mark>Гарантия возврата.</mark> 100% возврат если деталь не подошла на ваш автомобиль.</li>
      </ul>

      <div class="reason__form">

        <div class="reason__form-description description">
          <p class="description__title">Заполните форму</p>
          <p class="description__subtitle">и наш менеджер вас проконсультирует</p>
        </div><!--/.description-->

        <form class="form" action="index.html" method="post" name="consultation">
          <label for="reason__phone" class="visually-hidden">Телефон</label>
          <input class="form__input" id="reason__phone" type="text" name="phone" maxlength="12" placeholder="Телефон" required>
          <label for="reason__vin" class="visually-hidden">Vin номер или frame код</label>
          <input class="form__input" id="reason__vin" type="text" name="vin" maxlength="17" placeholder="Vin номер или frame код" required>
          <label for="reason__spares" class="visually-hidden">Список нужных запчастей</label>
          <textarea class="form__textarea" id="reason__spares" name="spares" maxlength="400" placeholder="Список нужных запчастей" spellcheck required></textarea>
          <button class="form__button button" type="submit" name="form-btn">Получить консультацию</button>
          <p class="form__consent">Согласен на обработку персональных данных</p>
        </form><!--/.form-->

      </div><!--/.reason__form-->

    </div>

  </div><!--/.container-->
</section><!--/.reason-->
